body{
    background-color: aqua;
}
p{
    font-size: 30px;
}
a {
    color:#000000;
    font-size:30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color:aquamarine;
    padding:10px;
}